/dataset
/media
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.vscode/*
*/.idea/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.DS_Store
*/.env
*/.env.*
*/.env-*
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.venv